/* layout.css */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;

}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

header,
footer {
    background: #007474;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}



