/* sections.css */
section {
    padding: 20px;
}

section p{
    color: rgb(95, 95, 95);
}

.profile {
    padding: 10px 0;
    background: white;
    
}

.long-divider {
    border: 0;
    height: 2px; /* Border height */
    background: linear-gradient(to right, #fff, #000, #fff); /* Gradient effect */
    margin: 20px 0; /* Spacing around the divider */
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover; /*원형 유지 설정.*/
    border-radius: 50%;
    display: block;
    float: left;
    margin: 0 20px 20px 10px; /* 오른쪽과 아래쪽에 여백 추가 */
    border: 3px solid #00ffff; /* 테두리 추가 */
}
section li{
    color: rgb(95, 95, 95);
}

.highlight {
    color: #ff6347; /* Use your desired color here */
}

.profile h1 {
    text-align: center;
    margin-top: 5px;
}
.profile h2 {
    text-align: center;
    /* margin-top: 5px; */
}

.profile p {
    text-align: center;
    /* margin-top: 3px; */
}



.projects {
    background: #e7e7e7;
    padding: 50px 0;
}

.projects h2,
.contact h2 {
    text-align: center;
    margin-bottom: 10px;
}

.contact {
    background: white;
    padding: 10px 0;
}

.contact p {
    text-align: center;
}

section h2 {
    position: relative;
    display: flex;
    align-items: center;
}
section h2 span{
    color: #ff6347; /* Use your desired color here */
}

section p span{
    float:right;
    display: inline-block;
    
}

section h2::after {
    content: "";
    flex-grow: 1;
    height: 2px; /* Border height */
    background: linear-gradient(to right, #00f, #00ffff, #fff); /*Gradient effect*/
    margin-left: 10px; /* Adjust the spacing between the text and the divider */
}